@import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css);
.inputs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  padding: 8px; }
  .inputs form {
    display: block;
    margin-top: 12px;
    margin-bottom: 25px; }
    @media (max-width: 767px) {
      .inputs form {
        margin-bottom: 50px; } }
    .inputs form input {
      height: 56px;
      width: 65%;
      margin-top: 20px;
      font-size: 24px;
      font-family: "Open Sans Hebrew", sans-serif;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px; }
      .inputs form input:focus {
        outline: none !important;
        border: 1px solid indianred;
        box-shadow: 0 0 10px #719ece; }
      @media (max-width: 767px) {
        .inputs form input {
          height: 40px;
          width: 80%; } }

#file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

#file + label {
  font-size: 1.25em;
  font-weight: 700;
  color: #ffffff;
  background-color: #0097f1;
  display: block;
  cursor: pointer;
  margin-top: 20px; }

#file:focus + label,
#file + label:hover {
  color: black; }

::-webkit-input-placeholder {
  font-family: "Open Sans Hebrew", sans-serif; }

:-ms-input-placeholder {
  font-family: "Open Sans Hebrew", sans-serif; }

:-moz-placeholder {
  font-family: "Open Sans Hebrew", sans-serif; }

::-moz-placeholder {
  font-family: "Open Sans Hebrew", sans-serif; }

#loading {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 3px solid #0097f1;
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite; }

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg); } }
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stays in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center; }
  .modal-content .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold; }
    .modal-content .close:hover, .modal-content .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer; }
  .modal-content .success {
    display: none;
    color: #4bb543;
    font-size: 30px; }
  .modal-content .failed {
    display: none;
    color: #cc0000;
    font-size: 30px; }

*,
*:before,
*:after {
  box-sizing: border-box; }

body,
html {
  background-color: #0097f1;
  font-family: "Open Sans Hebrew", sans-serif; }

body {
  height: 100%;
  margin-bottom: 0; }

/** {
  border: 1px solid gold;
}*/
.pic-wrapper {
  margin-top: 50px;
  text-align: center;
  /*@media (max-width: $mobile-size) {
    margin: 10% auto;
  }*/ }

img {
  max-width: 70px;
  max-height: 70px; }
  @media (max-width: 767px) {
    img {
      max-height: 60px;
      max-width: 60px; } }

h1 {
  color: #ffffff;
  margin: 20px 0;
  font-weight: lighter;
  font-size: 5vw; }
  @media (max-width: 767px) {
    h1 {
      margin: 20px 20px; } }

button {
  width: 26%;
  height: 100px;
  color: #0097f1;
  padding: 8px;
  background-color: #ffffff;
  font-family: "Open Sans Hebrew", sans-serif;
  font-size: 32px;
  -webkit-box-shadow: 7px 7px 148px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 7px 148px -14px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 7px 148px -14px rgba(0, 0, 0, 0.75); }
  @media (max-width: 767px) {
    button {
      font-size: 24px;
      width: 60%;
      margin-top: 40px; } }

/* todo:
fix the inputs inner-lining
*/

/*# sourceMappingURL=style.css.map */
